body {
    margin: 10px;
    font-size: 180%;
    font-family: 'roboto slab', serif;
}

#name:before {
    content: "";
    float: left;
    width: 40px;
    height: 70px;
    margin: 5px;
    background: dodgerblue
}

#title {
    margin-bottom: 20px;
}

#pic-container {
    text-align: center;
}

#profile-pic {
    margin: 10px;
    border-radius: 50%;
    border: 10px solid darkblue;
}

#contacts {
    margin-top: 50px;
    list-style-type: none;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
}

h2, h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    
    
}

#intro {
    margin-left: 50px;
}

p {
    margin-bottom: 0px;
}

#contacts li {
    margin-bottom: 1.5em;
}

header {
    border-bottom: 1px solid black;
}

main {
    margin-top: 30px;
    margin-bottom: 50px;
}

#duties {
    margin-left: 50px;
}

#skills {
    list-style-type: none;
    margin-top: 30px;
}

#skills li {
    margin-bottom: 20px;
}

#skills span {
    margin-right: 30px;
}

time {
    font-style: italic;
    color: gray;
}

time:before {
    content: "";
    float: left;
    width: 40px;
    height: 70px;
    margin: 5px;
    background: #101b5b;
}

p {
    word-wrap: normal;
}

progress {
    height: 20px;
    width: 200px;
}

.work {
    margin-top: 20px;
}

.work span {
    float: right;
}

b {
    font-family: 'Ubuntu', sans-serif, serif;
}

a {
    text-decoration: none;
    color: inherit;
}